[submodule "app/src/curso/node/07-restserver"]
	path = app/src/curso/node/07-restserver
	url = git@github.com:ricardo-dlc/07-ejemplo-express.git
[submodule "app/src/curso/node/08-sockets"]
	path = app/src/curso/node/08-sockets
	url = git@github.com:ricardo-dlc/08-sockets.git
[submodule "app/src/curso/node/09-sockets-colas"]
	path = app/src/curso/node/09-sockets-colas
	url = git@github.com:ricardo-dlc/09-sockets-colas.git
[submodule "app/src/curso/node/10-sockets-chat"]
	path = app/src/curso/node/10-sockets-chat
	url = git@github.com:ricardo-dlc/10-chat-con-sockets.git
