{{> head}}

{{> navbar}}
<div class="container">
    <div class="row mt-4">
        <div class="col-8 text-center">
            <h2>Gato</h2>
            <p class="text-left">El gato doméstico​​, llamado popularmente gato, y de forma coloquial minino, ​ michino, ​ michi, ​ micho, ​ mizo, ​ miz, ​ morroño​ o morrongo, ​ entre otros nombres, es un mamífero carnívoro de la familia Felidae. Es una subespecie domesticada por la convivencia con el ser humano.</p>
        </div>
        <div class="col-4 text-center">
            <img src="/assets/images/avatar.png" class="img-thumbnail" alt="Responsive image">
        </div>
    </div>
</div>

{{> footer}}